.modal-content {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header, .modal-footer {
    background-color: #c1d9f1;
    border: none;
}

.modal-title {
    font-size: 1.5rem;
    color: #1a1515;
}

.btn-close {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
}

.modal-body {
    padding: 20px;
}

.list-group-item {
    font-size: 1.1rem;
}

#total-price {
    font-size: 1.3rem;
    color: #094caf;
}
.btn-secondary, .btn-primary {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

.btn-secondary:hover {
    background-color: #5a6268;
}